.Banner {
  background-position: center;
  height: 100%;
}

.SearchBar {
  padding-top: 100px;
  width: 1000px;
  padding-left: 300px;
}
.headingT {
  text-align: center;
  font: Light 99px/149px Kohinoor Telugu;
  font-size: 90px;
  font-weight: 100;
  letter-spacing: 3.46px;
  color: #ffffff;
  opacity: 1;
}

.MissionState {
  top: 1923px;
  left: 66px;
  width: 932px;
  height: 232px;
  text-align: left;
  font: Light 99px/149px Kohinoor Telugu;
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 3.46px;
  padding-left: 20px;
  color: #000000;
  opacity: 1;
}

.unit {
  padding-right: 10px;
  padding-top: 60px;
}

.mission {
  padding-top: -70px;
  font-size: 30px;
  width: 600px;
  height: 232px;
  text-align: left;
  font: Light 99px/149px Kohinoor Telugu;
  font-weight: 100;
  letter-spacing: 3.46px;
  padding-left: 20px;
  color: #000000;
  opacity: 1;
}
